{{ define "css" }}
    {{ $style := resources.Get "css/docetal-doc.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}
{{ define "js" }}
    {{ $script := resources.Get "js/clipboard.min.js" | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ $script := resources.Get "js/lunr.js" | minify | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ $script := resources.Get "js/docetal-doc.js" | minify | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ $script := resources.Get "js/docetal-search.js" | minify | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}
{{ define "main" }}
  <div id="page">
    {{ partial "topbar_doc.html" . }}

    <div id="main-aside">

    {{ if and .Site.Params.TocInContextbar (gt (len .TableOfContents) 32) }}
    <div id="contextbar-control"><i class="fas fa-chevron-circle-right"></i></div>
    {{ end }}

      <aside id="sidebar">

        <ul class="topics">
        {{ $currentNode := . }}
        {{ if eq .Site.Params.OrderSectionsBy "title" }}
          {{ range where .Site.Home.Sections.ByTitle "Section" "doc" }}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" 0 }}
          {{ end }}
        {{ else }}
          {{ range where .Site.Home.Sections.ByWeight "Section" "doc" }}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" 0 }}
          {{ end }}
        {{ end }}
        </ul>

        {{ with .Site.Menus.shortcuts }}
          <section id="shortcuts">
            <ul>
              {{ range sort . "Weight" }}
              <li>
                {{ .Pre }}<a href="{{.URL | absLangURL }}">{{ safeHTML .Name }}</a>{{ .Post }}
              </li>
              {{ end }}
            </ul>
          </section>
        {{ end }}

      </aside>

      <main id="main">

        {{ partial "topbutton_doc.html" . }}

        <div id="main-text">
          {{ with .Content }}
          <div>
          {{ . | replaceRE "(<h[2-9]) id=\"([^\"]+)\">(.+)(</h[2-9]+>)" `${1}><span class="anchor-offset" id="${2}"></span><a href="#${2}" class="anchor"><i class="fas fa-link"></i></a>${3}${4}` | safeHTML }}
          {{ end }}
          {{ if or .Params.LastModifInFooter (and .Site.Params.LastModifInFooter (ne .Params.LastModifInFooter false)) }}
            <footer class="footline" >
              <div>
                <i>Last modification:</i> {{ .Lastmod.Format .Site.Params.LastModifInFooterTimeFormat }}
              </div>
            </footer>
          {{ end }}
          </div>
        </div>

        {{ if and .Site.Params.TocInContextbar (gt (len .TableOfContents) 32) }}
          <aside id="contextbar">
          {{ if .Site.Params.TocInContextbar }}
            <div id="contextbar-toc">{{ .TableOfContents }}</div>
          {{ end }}
          </aside>
        {{ end }}

      </main>

    </div>

  </div>
{{ end }}
