{{ define "css" }}
    {{ $style := resources.Get "css/docetal-doc.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    <style>
    #main-text {
        padding: 0;
    }
    #main-text h1 {
        margin-top: 0.5em;
    }
    </style>
{{ end }}
{{ define "main" }}
  <div id="main-text">
  <div>
  {{ .Params.msg }} {{ now.Format "2006-01-02" }}
  {{ range .Site.Home.Pages.ByWeight }}
  {{ $currentNode := . }}
  {{ template "section-content-nav" dict "sect" . "currentnode" $currentNode "path" "" }}
  {{ end }}
  </div>
  </div>
{{ end }}

{{ define "section-content-nav" }}
{{ $currentNode := .currentnode }}
{{ $path := .path }}
  {{ with .sect }}
    {{ if ne (len $path) 0 }}
    <hr>
    <div>{{ $path }}</div>
    {{ end }}
    {{ .Content }}

    {{ range $currentNode.Pages.ByWeight }}
      {{ if (not .Params.hidden) }}
        {{ $currentNode := . }}
        {{ template "section-content-nav" dict "sect" . "currentnode" $currentNode "path" (printf "%s > %s" $path $currentNode.Title) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
