{{ define "css" }}
    {{ $style := resources.Get "css/docetal-listing.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

{{ define "main" }}
    <div id="main">
      {{ .Content }}

      <h2>Listing {{ .RelPermalink }}</h2>
      <table class="ls">
      <tr>
        <th colspan="2">Name</th>
        <th>Size</th>
        <th>Modified</th>
      </tr>
      <tr><td>&larr;</td><td><a href="../">Parent directory</a></td><td></td><td></td></tr>
      {{ $path := path.Join "content" .File.Dir }}
      {{ $paths := readDir $path }}
      {{ range $paths }}
        {{ if .IsDir }}
        <tr>
        <td><b>&#128448;</b></td>
        <td><a href="{{ .Name }}">{{ .Name }}</a></td>
        <td></td>
        <td></td>
        </tr>
        {{ end }}
      {{ end }}
      {{ range $paths }}
        {{ if and (ne .Name "_index.md") (not (.IsDir)) }}
        <tr>
        <td></td>
        <td><a href="{{ .Name }}">{{ .Name }}</a></td>
        <td>{{ .Size }}</td>
        <td>{{ dateFormat "2006-01-02" .ModTime }}</td>
        </tr>
        {{ end }}
      {{ end }}
      </table>
    </div>
{{ end }}
