<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ hugo.Generator }}
    {{ partial "meta.html" . }}
    {{ partial "favicon.html" . }}
    <title>{{ if (not .Title) | or (eq .Title "") }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} : {{ .Title }}{{ end }}</title>

    {{ $style := resources.Get "css/fontawesome-all.min.css" | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ $style := resources.Get "css/inconsolata.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ $style := resources.Get "css/notosans.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    {{ $style := resources.Get "css/docetal-common.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    {{ block "css" . }}{{ end }}

    {{ if (fileExists "assets/css/docetal-user.css") }}
    {{ $style := resources.Get "css/docetal-user.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}

    {{ with .Site.Params.themeVariant }}
    {{ $style := resources.Get (printf "css/docetal-%s.css" .) | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{end}}

    <script type="text/javascript">
    var baseURL = "{{ .Site.BaseURL }}"
    </script>
    {{ $script := resources.Get "js/docetal.js" | minify | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ block "js" . }}{{ end }}

    {{ partial "custom-header.html" . }}

  </head>
  <body>

    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}

    {{ partial "custom-footer.html" . }}
  </body>
</html>
