{{ define "css" }}
    {{ $style := resources.Get "css/docetal-home.css" | minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}
{{ define "main" }}
  <div id="page">
    {{ partial "topbar_home.html" . }}

    <div class="text">
    {{ .Content }}
    </div>

    {{ partial "footer_home.html" . }}
  </div>
{{ end }}
