@charset "UTF-8";

/*
 Doc et al.

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://www.mozilla.org/MPL/2.0/.

 Copyright (C) 2019-2022 Charles E. Vejnar
*/

/* ----------------------------------------------- */
/* Navigation bar */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark);
}
.navbar > .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
}
.navbar #top-navbar-logo-toggler {
    display: flex;
    flex-grow: 1;
}
.navbar-logo {
    flex-grow: 1;
}
.navbar-logo > img {
    height: 2.25rem;
    max-width: 100%;
}

/* Media */
@media screen and (max-width:992px) {
    .navbar {
        display: block;
    }
}

/* ----------------------------------------------- */
/* Front banner */

.front-banner {
    display: block;
    padding-top: 6em;
    padding-bottom: 4em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}
.front-banner .title {
    padding-top: calc(0.5rem + 0.5em);
    padding-bottom: 3rem;
    font-size: 300%;
    color: var(--bg-dark);
}
.front-banner .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.front-banner .link {
    display: block;
    margin: 0.6em;
    padding: 0.6em 1em;
    color: var(--bg-dark-comp-strong);
    border-radius: .4em;
    font-size: 130%;
    background-color: var(--bg-dark);
}
.front-banner .link:hover, .front-banner .link:focus{
    cursor: pointer;
    background-color: var(--highlight-color);
    transition: background-color 300ms ease-out;
}

/* ----------------------------------------------- */
/* Features */

.features {
    display: block;
    padding: 2em 8em;
}
.features > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.features-title {
    display: block;
    padding-top: 0em;
    padding-bottom: 0.75em;
    text-align: center;
    font-size: 200%;
}
.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75em;
    margin-bottom: 2em;
    min-width: 15em;
    max-width: 25em;
    background-color: var(--bg-light);
}
.feature-box.large {
    flex-direction: row;
    align-items: stretch;
    padding: 0 2em;
    min-width: 80%;
    max-width: 80%;
    border: 1px solid var(--bg-dark-comp-medium);
    border-radius: 0.4em;
    background-color: var(--bg-light-comp-up);
}
.feature-box-title {
    display: block;
    padding-top: 0.25em;
    padding-bottom: 0.75em;
    font-size: 160%;
    text-align: center;
}
.feature-box-float {
    align-self: flex-start;
    justify-self: flex-start;
    padding: 2em 0;
}
.feature-box-float > img {
    display: block;
}
.feature-box-row {
    padding: 0.5em;
    text-align: center;
}
.feature-box.large .feature-box-row {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 0;
    text-align: left;
}
.feature-box > .fas, .feature-box > .fab {
    height: 2em;
    width: 2em;
    line-height: 1.9em;
    font-size: 3em;
    border-radius: 50%;
    text-align: center;
    color: var(--bg-light);
    background-color: var(--bg-dark);
}

/* Media */
@media screen and (max-width:992px) {
    .features {
        padding: 1em 2em;
    }
    .feature-box.large {
        flex-direction: column;
    }
    .feature-box.large .feature-box-row {
        padding-left: 0;
    }
}

/* ----------------------------------------------- */
/* Text */

.text {
    display: block;
    flex: 1;
    padding: 2em 8em;
}
.text ul {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-left: 2.5em;
}
/* Media */
@media screen and (max-width:992px) {
    .text {
        padding: 1em 2em;
    }
}
/* ----------------------------------------------- */
/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    padding: 0.75em 2em;
    background-color: var(--bg-dark);
    color: var(--bg-dark-comp-soft);
}
.footer .left {
    flex-grow: 1;
    padding: 0.5em 0em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer .right {
    flex-grow: 1;
    padding: 0.5em 0em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer a {
    color: var(--bg-dark-comp-soft);
}
.footer a:hover,
.footer a:focus {
    color: var(--bg-dark-comp-medium);
}

/* Media */
@media screen and (max-width:992px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer .right {
        align-items: center;
    }
}
