@charset "UTF-8";

/*
 Doc et al.

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://www.mozilla.org/MPL/2.0/.

 Copyright (C) 2019-2022 Charles E. Vejnar
*/

/* ----------------------------------------------- */
/* Listing */

#main {
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: "Inconsolata", monospace;
}

/* List */
#main ul {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-left: 2.5em;
}

/* Links */
#main a {
    text-decoration: none;
}

/* Table */

.ls {
    min-width: 60%;
    text-align: left;
    border-collapse: collapse;
}
.ls td {
    line-height: 1.5;
    border-top: 1px solid var(--bg-dark-comp-soft);
    border-bottom: 1px solid var(--bg-dark-comp-soft);
}
.ls tr > th:first-child, td:first-child {
    width: 1.1em;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
.ls tr > th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
