@charset "UTF-8";

/*
 Doc et al.

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://www.mozilla.org/MPL/2.0/.

 Copyright (C) 2019-2022 Charles E. Vejnar
*/

/* ----------------------------------------------- */
/* Variables */

:root {
/*  Text */
    --text: rgb(0, 0, 0);
    --text-bg: rgb(72, 80, 89);
/*  Light background */
    --bg-light: rgb(250, 251, 252);
/*  Complementary to Light background: lighter (up) */
    --bg-light-comp-up: rgb(254, 254, 255);
/*  Complementary to Light background: darker (down) */
    --bg-light-comp-down: rgb(247, 247, 248);
/*  Dark background */
    --bg-dark: rgb(72, 80, 89);
/*  Complementary to Dark background: Soft */
    --bg-dark-comp-soft: rgb(185, 188, 191);
/*  Complementary to Dark background: Medium */
    --bg-dark-comp-medium: rgb(212, 225, 229);
/*  Complementary to Dark background: Strong */
    --bg-dark-comp-strong: rgb(254, 254, 255);
/*  Highlight */
    --highlight-color: rgb(0, 136, 170);
/*  Highlight: hover (for links) */
    --highlight-color-hover: rgb(0, 175, 218);
/*  Alternative highlight */
    --highlight-color-alt: rgb(204, 74, 13);
}

/* ----------------------------------------------- */
/* Defaults */

html,body,ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color : var(--text);
    background-color: var(--bg-light);
}

a {
    color: var(--highlight-color);
}

/* ----------------------------------------------- */
/* Limit image size to 100% */

.img-max {
    max-width: 100%;
    height: auto;
}

/* ----------------------------------------------- */
/* Page */

#page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

#page a {
    text-decoration: none;
}

/* ----------------------------------------------- */
/* Navigation bar */

.navbar {
    padding: .5em 1em;
}
.navbar > .container {
    display: flex;
}
.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

/* Navigation bar: Toggler */
.navbar-toggler {
    display: none;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--bg-dark-comp-soft);
    background-color: transparent;
    border: 1px solid grey;
    border-radius: .25rem;
    width: 50px;
}
.navbar-toggler:hover,.navbar-toggler:focus{
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
.navbar-toggler > .fas {
    font-size: 120%;
}
.navbar-toggler-inv {
    display: block;
}

/* Navigation bar: Links */
.navbar-links {
    display: flex;
    flex-direction: row;
}
.nav-item {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-link {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    color: var(--bg-dark-comp-soft);
}
.nav-link:hover, .nav-link:focus{
    text-decoration: none;
    color: var(--bg-dark-comp-medium);
}

/* Media */
@media screen and (max-width:992px) {
    .navbar {
        display: block;
    }
    .navbar > .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar-toggler {
        display: block;
    }
    .navbar-toggler-inv {
        display: none;
    }
    .navbar-links {
        flex-direction: column;
        flex-basis: 100%;
    }
    .navbar-links.hidden {
        display: none;
    }
    .small-monitor {
        display: flex;
    }
    .large-monitor {
        display: none;
    }
}
@media screen and (min-width:993px) {
    .navbar-links.hidden {
        display: flex;
    }
    .small-monitor {
        display: none;
    }
    .large-monitor {
        display: flex;
    }
}
