@charset "UTF-8";

/*
 Doc et al.

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://www.mozilla.org/MPL/2.0/.

 Copyright (C) 2019-2022 Charles E. Vejnar
*/

/* ----------------------------------------------- */
/* Page */

#page {
    height: 100vh;
}

/* ----------------------------------------------- */
/* Navigation bar */

.navbar {
    flex: none;
    display: block;
    border-bottom: 1px solid var(--bg-dark-comp-medium);
    background-color: transparent;
}
.navbar > .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
}
.nav-link {
    color: var(--highlight-color);
}
.nav-link:hover, .nav-link:focus{
    color: var(--highlight-color-hover);
}
.navbar #top-navbar-logo-toggler {
    display: flex;
    flex-grow: 1;
}
.navbar-logo {
    flex-grow: 1;
}
.navbar-logo > img {
    height: 2.25rem;
    max-width: 100%;
}

/* Navigation bar: Input */
.navbar input {
    width: 15em;
    box-sizing: border-box;
    padding: .25em .5em;
    font-size: .875em;
    color: var(--text-bg);
    background-color: var(--bg-dark-comp-strong);
    border-radius: .2em;
    border: 1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.navbar input:focus {
    border-color: var(--highlight-color);
}
.navbar input.active {
    border-radius: .2em .2em 0 0;
}
.navbar .search-ctrl {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
}
.navbar #search-results {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
.navbar #search-results li {
    list-style: none;
    font-size: .875em;
    padding: 0.2em 0.6em;
    border-left: 1px solid var(--highlight-color);
    border-right: 1px solid var(--highlight-color);
    background-color: var(--bg-dark-comp-strong);
    z-index: 999;
}
.navbar #search-results li:last-child {
    border-bottom: 1px solid var(--highlight-color);
    border-radius: 0 0 .2em .2em;
}
.navbar #search-results li:hover {
    background-color: var(--bg-dark-comp-medium);
}
.navbar #search-results a {
    display: block;
    width: 100%;
}
.navbar #top-navbar-topics {
    padding-top: 0.25em;
    border-top: 1px solid var(--bg-dark-comp-medium);
}
.navbar #top-navbar-topics > .topics {
    padding-left: 1em;
}
@media screen and (max-width:992px) {
    .navbar input {
        width: 100%;
        margin-top: 1.25em;
    }
}
@media screen and (min-width:992px) {
    .navbar #top-navbar-topics {
        display: none;
    }
}

/* ----------------------------------------------- */
/* Main & Aside container */

#main-aside {
    display: flex;
    overflow: auto;
    flex-direction: row;
    height: 100%;
    position: relative;
}

/* ----------------------------------------------- */
/* Sidebar */

#sidebar {
    flex: none;
    min-width: 10em;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    resize: horizontal;
    background-color: var(--bg-light-comp-down);
}

/* Media */
@media screen and (max-width:992px) {
    #sidebar {
        display: none;
    }
}

/* Topics list */
.topics {
    list-style: none;
    padding-left: 1.5em;
}
#sidebar > .topics {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-right: 1.5em;
}

/* Main topic */
.main-topic {
    padding-top: 0.25em;
}
.topics ul[data-nav-level="0"] {
    padding-left: 0;
}
.topics .main-topic-link {
    display: flex;
    justify-content: space-between;
}
.topics .main-topic-link > a {
    font-weight: 500;
    font-size: 90%;
    color: var(--text);
    padding-bottom: 0.25em;
    transition: color .125s;
}
.topics .main-topic-link > a:hover {
    color: var(--highlight-color-hover);
}
.topics .main-topic.active > .main-topic-link > a {
    color: var(--highlight-color);
}
.topics .chevron {
    display: inline-block;
    min-width: 1em;
    font-size: 90%;
    padding-left: 0.75em;
    color: var(--bg-dark);
    cursor: pointer;
}
.topics .chevron > i {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}
.topics .chevron.hidden > i {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}
.topics .empty-chevron {
    display: inline-block;
    min-width: 1em;
    font-size: 90%;
    padding-left: 0.75em;
}
.main-topic ul {
    overflow: hidden;
    transition: max-height .8s;
}

/* Table Of Contents */
nav[id="TableOfContents"] ul {
    padding-left: 1.25em;
    list-style: none;
}
nav[id="TableOfContents"] > ul {
    padding-left: 0;
}
nav[id="TableOfContents"] li a {
    color: var(--text-bg);
    font-size: 90%;
}
nav[id="TableOfContents"] li a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105\a0";
    color: var(--highlight-color);
    visibility: hidden;
    transition: all 150ms ease-out;
}
nav[id="TableOfContents"] li a:hover::before {
    visibility: visible;
    color: var(--highlight-color);
}
nav[id="TableOfContents"] li a.active {
    color: var(--highlight-color);
}

#shortcuts {
    padding-top: 1.5em;
    padding-left: 1.25em;
}
#shortcuts > ul {
    list-style: none;
}
#shortcuts > ul > li {
    padding-top: 0.25em;
}

/* ----------------------------------------------- */
/* Contextbar */

#contextbar {
    position: sticky;
    top: 0;
    flex: none;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--bg-light-comp-down);
    border-left: 1px solid var(--bg-dark-comp-medium);
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    padding-left: 0.75em;
    padding-right: 1.5em;
}

/* Media */
@media screen and (max-width:992px) {
    #contextbar {
        display: none;
    }
}

#contextbar-control {
    position: absolute;
    top: 4px;
    left: calc(100% - 2.25em);
    padding-left: 0.2em;
    padding-right: 0.2em;
    cursor: pointer;
    font-size: 110%;
    color: var(--bg-dark);
    z-index: 100;
}
#contextbar-control:hover {
    color: var(--highlight-color);
}
#contextbar-control > i {
/*     transform: rotate(90deg); */
    transition: transform 0.3s linear;
}
#contextbar-control.hidden > i {
    transform: rotate(-180deg);
    transition: transform 0.3s linear;
}

/* Media */
@media screen and (max-width:992px) {
    #contextbar-control {
        display: none;
    }
}

/* ----------------------------------------------- */
/* Main */

#main {
    display: flex;
    flex: auto;
    overflow-y: auto;
}

.edit-btn {
    float: right;
    text-decoration: none;
    border: 1px solid var(--bg-dark-comp-medium);
    border-radius: 2px;
    padding: 0.25em 0.75em;
    margin: 0.5em 0.3em;
    color: var(--bg-dark);
    font-size: .75em;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.edit-btn:hover {
    border-color: var(--bg-dark-comp-soft);
}
.edit-btn .fas {
    margin-right: 3px;
}

/* ----------------------------------------------- */
/* Main text */

#main-text {
    flex: auto;
    padding: 1.5em 2.5em;
    word-break: break-word;
}
#main-text > div {
    padding-bottom: 2.5em;
}

/* Headers */
#main-text h1 {
    margin-top: 0;
    font-size: 2.1em;
    font-weight: 300;
    color: var(--text-bg);
}
#main-text h2 {
    position: relative;
    margin: 1em 0 0.6em;
    font-size: 1.9em;
    font-weight: 300;
}
#main-text h3 {
    position: relative;
    font-size: 1.5em;
    font-weight: 300;
}
#main-text h4 {
    position: relative;
    font-size: 1.25em;
    font-weight: 300;
}

/* List */
#main-text ul {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-left: 2.5em;
}
#main-text ul ul {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/* Links */
#main-text a {
    color: var(--highlight-color);
    text-decoration: none;
}
#main-text a:hover {
    color: var(--highlight-color-hover);
}

/* Anchor */
#main-text h1:hover .anchor i,
#main-text h2:hover .anchor i,
#main-text h3:hover .anchor i, 
#main-text h4:hover .anchor i {
    visibility: visible;
}
.anchor {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: -1.5rem;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    font-size: 1rem;
}
.anchor i {
    visibility: hidden;
    vertical-align: middle;
    color: var(--highlight-color);
}
.anchor-offset {
    display: block;
    position: relative;
    top: -1em;
    visibility: hidden;
}

/* Code (inline) */
#main-text code {
    font-family: "Inconsolata", monospace;
    padding-left: .2rem;
    padding-right: .2rem;
    color: var(--highlight-color-alt);
}

/* Code (block) */
#main-text pre {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-radius: 2px;
    border: 1px solid var(--bg-dark-comp-medium);
}
#main-text pre code {
    background: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    color: var(--text);
}
/* Code (block): Copy button */
#main-text .copy-btn {
    font-family: "Inconsolata", monospace;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--bg-dark);
    background: var(--bg-dark-comp-strong);
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 0.7em;
    letter-spacing: 0.5px;
    border-bottom: 1px solid var(--bg-dark-comp-medium);
    border-left: 1px solid var(--bg-dark-comp-medium);
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

/* Table */
#main-text table {
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid var(--bg-dark-comp-medium);
}
#main-text th {
    padding: 0.5rem;
    background-color: var(--bg-light-comp-down);
}
#main-text td {
    padding: 0.5rem;
    border: 1px solid var(--bg-dark-comp-medium);
}

/* Image */
#main-text img {
    padding: 1rem;
    max-width: calc(100% - 2rem);
}

/* Children shortcode */
#main-text .children {
    list-style: none;
    font-size: 1.2rem;
    padding-top: 1em;
    padding-bottom: 1.5em;
}
#main-text .children ul {
    list-style: none;
    font-size: 1.2rem;
}
#main-text .children li {
    padding-top: 0.25em;
}
#main-text .children p {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
}

/* Footer */
.footline {
    margin-top: 2em;
    padding-top: 0.5em;
    font-size: 80%;
    text-align: right;
}
.footline > div {
    display: inline-block;
    border-top: solid 2px var(--bg-dark-comp-medium);
    padding-left: 4em;
}

/* ----------------------------------------------- */
/* Notices */

.notices {
    border-radius: 3px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.notices .type {
    font-weight: 600;
    margin-right: 0.5em;
    font-size: 105%;
}
.notices p {
    margin: 0;
}
.notices.incomplete {
    border-color: #f3d98c;
    background-color: #f7f7f1;
    border: 1px solid #e2e2e2;
}
.notices.note {
    border-color: #f3d98c;
    background-color: #fffad5;
    border: 1px solid #e2e2e2;
}
.notices.tip {
    border-color: #87cb74;
    background-color: #e3f9e3;
    border: 1px solid #e2e2e2;
}
.notices.warning {
    border-color: #c16560;
    background-color: #ffefe3;
    border: 1px solid #e2e2e2;
}
.notices.outdated {
    border-color: #c16560;
    background-color: #ffefe3;
    border: 1px solid #e2e2e2;
}

/* Image */
.notices img {
    padding: 0.6rem !important;
}

/* ----------------------------------------------- */
/* Print */

@media print {
    #page {
        display: block;
        flex: none;
    }
    .navbar {
        display: none;
    }
    #main-aside {
        display: block;
        height: auto;
    }
    #sidebar {
        display: none;
    }
    #contextbar {
        display: none;
    }
    #main {
        display: block;
        padding: 0;
    }
    #main-text .copy-btn {
        display: none;
    }
}
