@charset "UTF-8";

/* Inconsolata

https://github.com/googlefonts/Inconsolata
Downloaded from https://google-webfonts-helper.herokuapp.com

SIL Open Font License, Version 1.1 */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('../fonts/inconsolata/inconsolata-v18-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
       url('../fonts/inconsolata/inconsolata-v18-latin_latin-ext-700.woff2') format('woff2');
}
