@charset "UTF-8";

/* Noto Sans

https://github.com/googlefonts/noto-fonts
Downloaded from https://google-webfonts-helper.herokuapp.com and https://www.google.com/get/noto/

Apache License, Version 2.0 */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/notosans/noto-sans-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('../fonts/notosans/noto-sans-light-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/notosans/noto-sans-v9-latin-ext_latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('../fonts/notosans/noto-sans-v9-latin-ext_latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('../fonts/notosans/noto-sans-v9-latin-ext_latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
       url('../fonts/notosans/noto-sans-v9-latin-ext_latin-700italic.woff2') format('woff2');
}
