{{ define "section-tree-nav" }}
{{ $currentNode := .currentnode }}
{{ $level := .level }}
  {{ with .sect }}
    {{ if .IsSection }}
      {{ $nSections := sub (len .Sections) (len (where .Sections ".Params.hidden" true)) }}
      {{ $nPages := sub (len .Pages) (len (where .Pages ".Params.hidden" true)) }}
      {{ $nAnyPages := (add $nSections $nPages) }}
      {{ $currentSection := .IsAncestor $currentNode }}
      {{ safeHTML .Params.head }}
      <li data-nav-id="{{.RelPermalink}}" title="{{.Title}}" class="main-topic{{ if eq .File.UniqueID $currentNode.File.UniqueID }} active{{ end }}">
        <div class="main-topic-link">
          <a href="{{.RelPermalink}}">
            {{ safeHTML .Params.Pre }}{{ or .Params.menuTitle .LinkTitle .Title }}{{ safeHTML .Params.Post }}
          </a>
          {{ if and (ne $level 0) (ne $nAnyPages 0) (.Param "menuswitch") }}
          <div class="chevron{{ if and (not $currentSection) (.Param "menufold") }} hidden{{ end }}"><i class="fas fa-chevron-right"></i></div>
          {{ else }}
          <div class="empty-chevron"></div>
          {{ end }}
        </div>
        {{ if .Site.Params.TocInSidebar }}
          {{ if eq .File.UniqueID $currentNode.File.UniqueID }}
            {{ .TableOfContents }}
          {{ end }}
        {{ end }}

        {{ if ne $nAnyPages 0 }}
          <ul data-nav-level="{{ $level }}" class="topics{{ if and (not $currentSection) (.Param "menufold") }} hidden{{ end }}">
            {{ $currentNode.Scratch.Set "pages" .Pages }}
            {{ if .Sections }}
              {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
            {{ end }}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}

          {{ if eq .Site.Params.OrderSectionsBy "title" }}
            {{ range where $pages.ByTitle "Section" "doc" }}
              {{ if and .Params.hidden (not $.showhidden) }}
              {{ else }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" (add $level 1) }}
              {{ end }}
            {{ end }}
          {{ else }}
            {{ range where $pages.ByWeight "Section" "doc" }}
              {{ if and .Params.hidden (not $.showhidden) }}
              {{ else }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" (add $level 1) }}
              {{ end }}
            {{ end }}
          {{ end }}
          </ul>
        {{ end }}
      </li>
    {{ else }}
      {{ if not .Params.Hidden }}
        <li data-nav-id="{{ .RelPermalink }}" title="{{ .Title }}" class="main-topic{{ if eq .File.UniqueID $currentNode.File.UniqueID }} active{{ end }}">
          <div class="main-topic-link">
            <a href="{{ .RelPermalink }}">
              {{ safeHTML .Params.Pre }}{{ or .Params.menuTitle .LinkTitle .Title }}{{ safeHTML .Params.Post }}
            </a>
            <div class="empty-chevron"></div>
          </div>
          {{ if .Site.Params.TocInSidebar }}
            {{ if eq .File.UniqueID $currentNode.File.UniqueID }}
              {{ .TableOfContents }}
            {{ end }}
          {{ end }}
      </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
