<nav class="navbar">

<div class="container">

  <a class="navbar-logo" href="{{ .Site.BaseURL }}">Home</a>

  <button class="navbar-toggler" onclick="toggleByID('top-navbar-links');">
  <i class="fas fa-bars"></i>
  </button>
  
  <ul id="top-navbar-links" class="navbar-links hidden">
    <li class="nav-item">
      <a href="{{ .Site.BaseURL }}" class="nav-link">Home</a>
    </li>
  </ul>
  
</div>

<a href="{{"about" | relURL}}" class="nav-link navbar-toggler-inv">About</a>

</nav>
