{{ $showhidden := .Get "showhidden" }}
{{ $style :=  .Get "style" | default "" }}
{{ $depth :=  .Get "depth" | default 1 }}
{{ $withDescription :=  .Get "description" | default false }}
{{ $withSummary :=  .Get "summary" | default false }}
{{ $sortTerm :=  .Get "sort" | default "Weight" }}

{{ .Scratch.Set "current" .Page }}

{{ if (.Get "page") }}
  {{ with .Site.GetPage "section" (.Get "page") }}
    {{ $.Scratch.Set "current" . }}
  {{ end }}
{{ end }}

{{ $cpage := (.Scratch.Get "current") }}

<ul class="children">
  {{ .Scratch.Set "pages" $cpage.Pages }}
  {{ if $cpage.Sections }}
    {{ .Scratch.Set "pages" ($cpage.Pages | union $cpage.Sections) }}
  {{ end }}
  {{ $pages := (.Scratch.Get "pages") }}

  {{ if eq $sortTerm "Weight" }}
    {{ template "childs" dict "menu" $pages.ByWeight "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "summary" $withSummary "sortTerm" $sortTerm }}
  {{ else if eq $sortTerm "Name" }}
    {{ template "childs" dict "menu" $pages.ByTitle "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "summary" $withSummary "sortTerm" $sortTerm }}
  {{ else if eq $sortTerm "PublishDate" }}
    {{ template "childs" dict "menu" $pages.ByPublishDate "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "summary" $withSummary "sortTerm" $sortTerm }}
  {{ else if eq $sortTerm "Date" }}
    {{ template "childs" dict "menu" $pages.ByDate "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "summary" $withSummary "sortTerm" $sortTerm }}
  {{ else if eq $sortTerm "Length" }}
    {{ template "childs" dict "menu" $pages.ByLength "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "summary" $withSummary "sortTerm" $sortTerm }}
  {{ else }} 
    {{ template "childs" dict "menu" $pages "style" $style "showhidden" $showhidden "count" 1 "depth" $depth "pages" .Site.Pages "description" $withDescription "summary" $withSummary "sortTerm" $sortTerm }}
  {{ end }}
</ul>

{{ define "childs" }}
  {{ range .menu }}
    {{ if and .Params.hidden (not $.showhidden) }}
    {{ else }}
      <li>
      {{ if hasPrefix $.style "h" }}
        {{ $num := sub ( int (trim $.style "h") ) 1 }}
        {{ $numn := add $num $.count }}

        {{ (printf "<h%d>" $numn)|safeHTML }}
          <a href="{{ .RelPermalink }}" >{{ .Title }}</a>
        {{ (printf "</h%d>" $numn)|safeHTML }}
      {{ else if eq (len $.style) 0 }}
        <a href="{{ .RelPermalink }}" >{{ .Title }}</a>
      {{ else }}
        {{ (printf "<%s>" $.style)|safeHTML }}
          <a href="{{ .RelPermalink }}" >{{ .Title }}</a>
        {{ (printf "</%s>" $.style)|safeHTML }}
      {{ end }}

      {{ if $.description }}
        {{ if .Description }}
          <p>{{.Description }}</p>
        {{ else }}
          {{ if $.summary }}
            <p>{{.Summary }}</p>
          {{ end }}
        {{ end }}
      {{ end }}
      </li>

      {{ if lt $.count $.depth }}
        {{ .Scratch.Set "pages" .Pages }}
        {{ if .Sections }}
          {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
        {{ end }}
        {{ $pages := (.Scratch.Get "pages") }}

        {{ $empty := true }}
        {{ if not $.showhidden }}
          {{ range $pages }}
            {{ if not .Params.hidden }}
              {{ $empty = false }}
            {{ end }}
          {{ end }}
        {{ else }}
          {{ $empty = false }}
        {{ end }}

        {{ if not $empty }}
          <li><ul>
          {{ if eq $.sortTerm "Weight" }}
            {{ template "childs" dict "menu" $pages.ByWeight  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "summary" $.summary "sortTerm" $.sortTerm }}
          {{ else if eq $.sortTerm "Name" }}
            {{ template "childs" dict "menu" $pages.ByTitle  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "summary" $.summary "sortTerm" $.sortTerm }}
          {{ else if eq $.sortTerm "PublishDate" }}
            {{ template "childs" dict "menu" $pages.ByPublishDate  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "summary" $.summary "sortTerm" $.sortTerm }}
          {{ else if eq $.sortTerm "Date" }}
            {{ template "childs" dict "menu" $pages.ByDate  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "summary" $.summary "sortTerm" $.sortTerm }}
          {{ else if eq $.sortTerm "Length" }}
            {{ template "childs" dict "menu" $pages.ByLength  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "summary" $.summary "sortTerm" $.sortTerm }}
          {{ else }}
            {{ template "childs" dict "menu" $pages  "style" $.style "showhidden" $.showhidden "count" (add $.count 1) "depth" $.depth "pages" $.pages "description" $.description "sortTerm" $.sortTerm }}
          {{ end }}
          </ul></li>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
